<!-- 将element添加到 HTML 中 -->
<h1>Angular</h1>
<courses></courses>
<div>
  <!-- 这里的 change 是自己定义的 -->
  <!-- Component API 这里的 is-favorite 是 @Input -->
  <app-favorite
    [is-favorite]="post.isFavorite"
    (changeThisStar)="onFavoriteChanged($event)"
  ></app-favorite>
</div>

<app-favorite></app-favorite>

<bootstrap-panel>
  <ng-container class="heading">Heading</ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>
      美国佬 草你妈啊 张一鸣你全家死了
    </p>
  </div>
</bootstrap-panel>

<div *ngIf="courses.length > 0; then coursesList; else noCourses"></div>
<ng-template #coursesList>
  List of courses
</ng-template>
<ng-template #noCourses>
  Non courses
</ng-template>

<!-- nav nav-pills 是从 bootstrap 来的 -->
<ul class="nav nav-pills">
  <!-- 这里的 active 是从 bootstrap 中来的 -->
  <!-- active 表示什么？？？ -->
  <li><a href="">Map view</a></li>
  <li><a href="">List view</a></li>
</ul>

<div>
  <div>
    Map View Content
  </div>
</div>

<contact-form></contact-form>

<signup-form></signup-form>
